body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #13161D; /* New background color */
    color: #CFDBD5; /* New text color */
}

header {
    background-color: #105C00; /* Primary color scheme */
    color: #CFDBD5;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Added shadow to header */
}

main {
    padding: 1em;
}

#webcam-section video {
    width: 45%; /* Adjusted for smaller width */
    height: auto; /* Maintain aspect ratio */
    border: 3px solid #105C00; /* Primary color scheme */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    margin: 10px auto; /* Center the video */
    display: block; /* Block display to enable margin auto */
    background-color: #13161D; /* Background color for non-video area */
}


/* Ensure that the webcam section itself does not have any unwanted styling */
#webcam-section {
    display: flex;
    justify-content: space-around; /* This will space out the video elements */
    align-items: center; /* Align items vertically */
    flex-wrap: wrap; /* Wrap onto the next line if not enough space */
    margin-bottom: 20px; /* Space after the webcam section */
}


/* Assuming #data-display is the container for your textual content */
#data-display {
    border: 3px solid #bcea02; /* Ternary color for border */
    padding: 1em;
    margin-top: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Added shadow to text container */
}

#data-display p {
    margin-bottom: 0.5em;
}

.text-container {
    border: 3px solid #bcea02; /* Ternary color for border */
    padding: 1em;
    margin-bottom: 1em; /* Space between containers */
    background-color: #13161D; /* Background color */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Added shadow to containers */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 600px) {
    #webcam-section video {
        width: 90%; /* Adjust for smaller screens to stack them vertically */
    }
}

/* Additional styling for buttons or
interactive elements, if any /
.button {
background-color: #b5e701; / Main color scheme for buttons /
color: #13161D;
border: none;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 4px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); / Consistent shadow for buttons */
}

/* Responsive adjustments for smaller screens /
@media screen and (max-width: 600px) {
#webcam-section video {
width: 100%; / Full width on smaller screens */
}
}